* {
  box-sizing: border-box;
}

body {
  width:100%;
  margin: auto;
  background: #dee4ed;
  font-family: 'Nunito', sans-serif;
}

h1 {
  text-align: center;
  width: 100%;
  padding: 2%;
  font-size: 3em;
  font-weight: 900;
  color: #009FB7;
}

section {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 5% 0 0;
  color: #C4FFF9;
  font-weight: 300;
  line-height: 1.3em;
}

img {
  text-align: center;
  margin: 0;
}

#balm, #bottle, #phone {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 3%;

  justify-content: center;
}

#balm {
  background-color: #78CAD2;
}

#phone {
  background-color: #59C3C3;
}

#bottle {
  background-color: #62A8AC;
}

#balmhov, #phonehov, #bottlehov {
  display: none;
  position: absolute;
  width:100%;
  height:70%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #9BCFE1;
  padding: 5%;
}

p {
  width: 100%;
  padding: 3%;
  font-size: 1.8em;
  color: #f4f8ff;
}

#balmhov img, #phonehov img, #bottlehov img {
  margin-top: 3%;
  width: 100%;
}

#balmclose, #phoneclose, #bottleclose {
  color: #C4FFF9;
  position: absolute;
  top: 3%;
  right: 3%;
}

/* footer */

footer {
  width: 34%;
  position: fixed;
  right: 0;
  bottom: 0;
}

footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

footer nav ul li {
  margin: 2%;
  width: 40%;
}

footer nav ul li a {
  padding: 5%;
  text-decoration: none;
  font-size: .8em;

  color: #62A8AC;
}

a:hover {
  color: #78CAD2;
}

@media only screen and (min-width: 769px) {
  h1 {
    text-align: center;
    width: 100%;
    padding: 6%;
    margin-bottom: 1%;
    font-size: 4em;
  }

  section {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

  #balm, #bottle, #phone {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 110%;
    padding: 6%;
    margin: 5%;

    border-radius: 50%;
    cursor: pointer;
  }

  #bmpic, #pnpic, #btpic{
    opacity: .7;
    transition: opacity 1s;
  }

  #balmhov, #phonehov, #bottlehov {
    display: none;
    flex-direction: row;
    position: absolute;
    width: 50%;
    height:70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #9BCFE1;
    padding: 5%;

    border-radius: 5%;
    justify-content: center;
    align-content: center;
  }

  #balmhov {
    background-color: #78CAD2;
  }

  #phonehov {
    background-color: #59C3C3;
  }

  #bottlehov {
    background-color: #62A8AC;
  }

  #balmclose, #phoneclose, #bottleclose {
    font-weight: 900;
    color: #C4FFF9;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
  }

  p {
    width: 100%;
    padding: 3%;
    font-size: 1.3em;
    color: #f4f8ff;
  }

  footer {
    width: 20%;
  }

  footer nav ul li a {
    color: #3587A4;
  }
}
