body {
  margin: auto;
  width: 1366px;
  height: 2000px;
  background: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
}

/* header, title, subtitle */
header div {
  margin: auto;
  width: 800px;
  height: 250px;
  background: #cccccc;
}

header h1 {
  margin: 0 300px;
  padding: 20px 0 0;
  width: 750px;
  text-align: left;
  font-size: 25pt;
  color: black;
}

header p {
  margin: 5px 300px;
  font-size: 20px;
  font-weight: 600;
  color: #a5a5a5;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* columns */
#sect {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: row;
}

#sect section {
  margin: 15px 5px;
  padding: 10px 15px 20px;
  width: 300px;
}

section h2 {
  text-align: left;
  margin: 5px 0 10px;
}

section nav ul, section nav ol {
  display: flex;
  flex: 1;
  flex-direction: row;
}

nav ul li a, nav ol li a {
  text-align: center;
  text-decoration: none;
  margin-left: 2px;
  padding-left: 5px;
  font-size: 14pt;
  font-weight: 300;
  color: #f45f42;
  border-left: 2px solid #a5a5a5;
}

a:hover, article .source a:hover, aside a:hover {
  color: #cccccc;
}

/* article */
article {
  width: 850px;
  margin: 100px auto;
}

article h1 {
  font-size: 30pt;
}

article h2 {
  font-size: 20pt;
  color: #f45f42;
}

article section {
  margin: auto;
  padding-bottom: 50px;
}

article section img {
  display: inline-block;
  text-align: center;
}

article p {
  font-size: 13pt;
}

article .source {
  font-size: 10pt;
}

article .source a, aside a {
  text-decoration: none;
  color: #f45f42;
}

/* aside */
aside {
  position: fixed;
  width: 200px;
  left: 0;
  top: 20px;
}

aside a {
  padding: 20px;
}

/* footer */
footer {
  margin-top: 65px;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0px;
  bottom: 0;
  background: #f45f42;
}

footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer nav ul li {
  margin: 20px 10px;
}

footer nav ul li a {
  font-size: 16px;
  border: none;
  color: #ffffff;
}

footer nav ul li a {
  font-size: 16px;
  border: none;
  color: #ffffff;
}
