* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: #062039;
  font-family: 'Fira Sans', sans-serif;
}

#sketch {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
}

ul li {
  list-style-type: none;
  text-decoration: none;
}

/* main nav */
header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  background: #062039;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
  padding-left: 6%;
}

header nav ul li {
  margin-right: 10%;
  padding: 0;
}

header nav ul li p {
  text-align: center;
  font-size: 2.5vh;
  color: #FBECBE;
  opacity: .5;
  transition: opacity 1s;
}

header nav ul li p:hover {
  opacity: 1;
  color: #FBECBE;
  border-bottom: 3px solid #C4775C;
  cursor: pointer;
}

#hm {
  border-bottom: 3px solid #C4775C;
}

/* homescreen */
#intro {
  position: absolute;
  left: 17.5%;
  width: 65%;
  height: 100vh;
  margin: 10vh auto;
}

#intro h1 {
  background: #062039;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 5.5vh;
  letter-spacing: 1vh;
  color: #FBECBE;
}

#strt {
  text-align: center;
}

#intro p {
  font-size: 2.5vh;
  background: #062039;
  color: #C4775C;
  font-weight: 300;
}

#birds {
  width: 100%;
  margin: auto;
  margin-bottom: 22%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bird1, #bird2, #bird3 {
  margin: 3%;
  padding: 5%;
  width: 300px;
  height: 300px;
  background: #b2b2b2;
  transform: scale(1);
  opacity: .5;
  transition: all 1s;
}

#bird1:hover, #bird2:hover, #bird3:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

#bird1 {
  background: url(images/humminghov.svg);
  background-repeat: no-repeat;
}

#bird2 {
  background: url(images/hawkhov.svg);
  background-repeat: no-repeat;
}

#bird3 {
  background: url(images/swallowhov.svg);
  background-repeat: no-repeat;
}

#bird1:hover {
  background: url(images/humming.svg);
  background-repeat: no-repeat;
}

#bird2:hover {
  background: url(images/hawk.svg);
  background-repeat: no-repeat;
}

#bird3:hover {
  background: url(images/swallow.svg);
  background-repeat: no-repeat;
}

/* anchored nav menus */
#optn {
  position: fixed;
  left: -15%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: left 2s, opacity 2s;
  margin-left: 2%;
}

#optn ul, #optn2 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

#optn ul li {
  margin-bottom: 0;
}

#optn img {
  transition: transform 1s, opacity 1s;
}

#optn img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

#optn2 {
  position: fixed;
  right: -15%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 2s, opacity 2s;
}

#optn2 ul li {
  margin: 0;
  text-align: center;
}

#optn2 ul li span:hover {
  cursor: pointer;
  background: #C4775C;
}

.dot {
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.active {
  background: #C4775C;
}

/* stories */
#story1, #story2, #story3 {
  display: block;
  position: absolute;
  left: -200%;
  padding: 5%;
  width: 70%;
  opacity: 0;
  transition: opacity 3s;
}

#story1 h2, #story2 h2, #story3 h2, #about h2 {
  font-size: 5.5vh;
  font-family: 'Gochi Hand', cursive;
  color: #C4775C;
  text-align: center;
}

.start {
  color: #FBECBE;
  width: 50%;
  margin: 0 auto;
}

.start p {
  font-size: 2.8vh;
  text-align: center;
  background: #062039;
}

.start img {
  display: block;
  margin: auto;
}

#story1pic {
  margin: auto;
  width: 300px;
  height: 300px;
  background: url(images/humming.svg)
}

#story2pic {
  margin: auto;
  width: 300px;
  height: 300px;
  background: url(images/hawk.svg)
}

#story3pic {
  margin: auto;
  width: 300px;
  height: 300px;
  background: url(images/swallow.svg)
}

.space {
  width: 70vh;
  height: 30vh;
}

.one, .two, .three, .four, .five, .six {
  position: relative;
  width: 65%;
  margin: auto;
  padding: 1%;
  background: #062039;
  color: #FBECBE;
  font-weight: 300;
  font-size: 2.5vh;
  line-height: 3.5vh;
  margin-bottom: 25vh;
}

.fact {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -43vh;
  opacity: 0;
  width: 35vh;
  padding: 2vh;
  font-size: 2vh;
  line-height: 2.5vh;
  color: #F7D091;
  background-color: #973B30;
  border-radius: 2vh;
  transition: right 1s, opacity 1s;
}

.fact p {
  padding: 0;
  margin: 0;
}

.facthov {
  font-weight: 400;
  color: #C4775C;
  border-bottom: solid 2px #C4775C;
}

.facthov:hover {
  cursor: pointer;
  color: #F7D091;
  border-bottom: solid 1px #F7D091;
}

#sharepg, #aboutpg {
  display: block;
  position: absolute;
  top: 10vh;
  left: -200vh;
  padding-bottom: 10%;
  width: 55%;
  height: 120vh;
  opacity: 0;
  transition: opacity 2s;
  background: #062039;
}

#aboutpg h2, #sharepg h2 {
  padding: 0;
  margin: 0;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 5.5vh;
  letter-spacing: 0.5vh;
  color: #FBECBE;
}

#aboutpg h3 {
  padding: 0;
  margin: 0;
  font-family: 'Gochi Hand', cursive;
  text-align: center;
  font-size: 4vh;
  letter-spacing: 0.5vh;
  color: #FBECBE;
}

#aboutpg a, #shrclick {
  text-decoration: none;
  color: #FBECBE;
}

#aboutpg a:hover, #shrclick:hover {
  color: #ffcb77;
  cursor: pointer;
}

#aboutpg p, #sharepg p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2.5vh;
  color: #C4775C;
}

#aboutpg p {
  margin-bottom: 10%;
  background: #062039;
}

#aboutpg p:nth-of-type(3), #aboutpg p:nth-of-type(4) {
  margin-bottom: 5%;
}

#aboutpg ul {
  margin: auto;
  padding-left: 0;
  width: 90%;
}

#aboutpg ul li {
  margin-bottom: 5vh;
  background: #062039;
}

#aboutpg ul li p {
  color: #ffcb77;
  font-size: 2.2vh;
}

#aboutpg ul li a {
  color: #C4775C;
  font-size: 2.5vh;
}

.form {
  width: 65%;
  margin: auto;
}

#sharepg input[type="text"],
textarea {
  display: block;
  width: 100%;
  height: 1%;
  font-size: 2.3vh;
  color: #FBECBE;
  background: #062039;
  border: none;
  border-bottom: 2px solid #FBECBE;
}

#sharepg fieldset {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  border: none;
  margin: 0;
  padding: 1%;
  margin-bottom: 4%;
  font-size: 2.5vh;
  color: #C4775C;
}

#contact, #name {
  margin-top: 2vh;
}

#narrative {
  margin-top: 2vh;
  padding: 2vh;
  color: #062039;
  background: #FBECBE;
}

#submit, #reset {
  margin: 1vh;
  padding: 1vh;
  font-weight: 400;
  font-size: 2.5vh;
  text-align: center;
  color: #C4775C;
  background: #062039;
  border: none;
}

#submit {
  color: #FBECBE;
  background: #C75845;
  border-radius: 2%;
}

#sharepg p {
  margin-bottom: 5vh;
}

#reset:hover {
  color: #FBECBE;
  cursor: pointer;
}

#submit:hover {
  color: #C75845;
  background: #FBECBE;
  cursor: pointer;
}

#received {
  position: absolute;
  left: -100vh;
  top: 50vh;
  transform: translateY(-50%);
  width: 50%;
  padding: 4vh;
  font-size: 2vh;
  background: #C75845;
  opacity: 0;
  transition: opacity 2s;
}

#received p {
  color: #fcf7e5;
  padding: 0;
  margin: 0;
}

#close {
  position: absolute;
  top: 1vh;
  right: 2vh;
}

#close:hover {
  cursor: pointer;
  color: #ffd272;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 16%;
  background: #062039;
}

footer nav ul {
  padding: 2%;
  display: flex;
  flex-direction: row;
}

footer nav ul li {
  margin: 0 6%;
  list-style-type: none;
  font-size: 1.8vh;
}

footer nav ul li a {
  text-decoration: none;
  color: #FBECBE;
}
