* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 18%;
  background: #ffffff;
}

header nav ul {
  display: flex;
  flex-direction: row;
}

header nav ul li {
  padding: 0 3%;
  list-style-type: none;
  font-size: 1.2em;
  text-decoration: none;
}

header nav ul li:hover {
  cursor: pointer;
}

#intro {
  width: 70%;
  height: 100%;
  margin: 10% auto;
  padding: 5%;
}

#intro h1 {
  text-align: center;
}

#birds {
  width: 100%;
  margin: auto;
  margin-bottom: 22%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#bird1, #bird2, #bird3 {
  margin: 3%;
  width: 20%;
  min-height: 30%;
  padding: 5%;
  background: #b2b2b2;
  text-align: center;
}

#story1, #story2, #story3, #about {
  display: block;
  margin: auto;
  padding: 5%;
  width: 80%;
  height: 100vh;
}

#share {
  width: 50%;
  height: 100vh;
  margin: auto;
}

h2, .cw {
  text-align: center;
}

#up {
  width: 7%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  background: #ffffff;
}

footer nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 3%;
  list-style-type: none;
  font-size: 1em;
}

nav ul li a {
  text-decoration: none;
}
